@{
    ViewData["Title"] = "Relatórios";
}

<div class="row">
    <div class="col-12">
        <h4 class="content-title">Lista de Relatórios</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a asp-controller="Relatorio" asp-action="RelatorioUsuario" class="list-group-item list-group-item-action">Documentos Respondidos por Usuário</a>
                </div>
            </div>
        </div>
    </div>
</div>